<div class="form-container">
    <h2>Recupera tu contraseña</h2>
    <form class="form-group" action="" id="restoreForm">
        <label for="">
            Email
        </label>
            <input class="form-control" type="email" name="email">
        <label for="">
            Password
        </label>
            <input class="form-control" type="password" name="newPassword">
        <button class="btn btn-primary btn-block" type="submit">Recuperar contraseña</button>
        <a class="btn btn-link btn-sm" href="/login">Inicia sesión</a>
    </form>
</div>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="js/restorePassword.js"></script>