<img class="fondo" src="https://static.vecteezy.com/system/resources/previews/003/689/224/non_2x/online-registration-or-sign-up-login-for-account-on-smartphone-app-user-interface-with-secure-password-mobile-application-for-ui-web-banner-access-cartoon-people-illustration-vector.jpg" alt="">

<div class="signup-container">
    <h2>Sign up</h2>

    <form id="form" action="" method="">
        <label for="">
            First Name
        </label>
            <input class="form-control" placeholder="First Name" type="text" name="first_name">
        
        <label for="">
            Last Name
        </label>
            <input class="form-control" placeholder="Last Name" type="text" name="last_name">
        
        <label for="">
            Email
        </label>
            <input class="form-control" placeholder="Email" type="email" name="email">
        
        <label for="">
            Age
        </label>
            <input class="form-control" placeholder="Age" type="age" name="age">
        
        <label for="">
            Password
        </label>
            <input class="form-control" placeholder="Password" type="password" name="password">
        
        <button class="btn btn-primary" type="submit">Sign up</button>

    </form>
    
    <div class="signin-container">
        <p>¿Ya tienes cuenta?<a href="/login">Ingresa</a></p>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="js/signup.js"></script>