*{
    margin: 0;
    padding: 0;
}

#productos{
    display: flex;
    flex-direction: column;
    background-color: aliceblue;
}

.navbar{
    color: white;
}

.navbar h2{
    display: flex;
    align-items: center;
    gap: 1%;
}

.anchor-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1%;
}

.anchor-cart{
    display: flex;
    height: 100%;
    width: 50%;
    filter: invert();
}

.img-cart{
    width: 50%;
    height: 100%;
}
    
#productQuantity{
    width: 50%;
}

#contenedor_fondo{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
   
    padding: 1%;
}

#anterior{
    
    height: 5%;
    width: 5%;
    
    z-index: 3;
   
    cursor:pointer;
}

#siguiente{
   
    color: aliceblue;
    height: 5%;
    width: 5%;
    
    z-index: 3;
    
    cursor:pointer;
}

#frase{
    position: absolute;
    font-size: 400%;
   
    font-family: 'Fasthand', cursive;
    cursor: default;
    z-index: 2;
    filter: invert();
}

#fondo{
    position: relative;
    
    transition: all ease;
    
    animation-name: apareceIzquierda;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    z-index: 1;
}

.lista{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 95%;
    gap: 1vh;
    padding-top: 1%;
    margin: auto;
}

.card{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.card a{
    height: 88%;
}

.card-body{
    height: 90%;
}

.cardimg{
    border-bottom: solid black;
}

.card-body .description{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.description p{
    height: 100%;
}

.card .btn{
    height: 12%;
}

.pagination{
    padding: 1% 0;
    display: flex;
    justify-content: center;
}



@keyframes apareceIzquierda {
    0%{
        left: -100px;
        opacity: 0;
    } 
    100%{
        left: 0px;
        opacity: 1;
    }
}

@keyframes desapareceIzquierda {
    0%{
        left: 0px;
        opacity: 1;
    }
    100%{
        left: -100px;
        opacity: 0;
    }
}





@media (max-width: 600px){
   

    #contenedor_fondo{
        width: 100%;
    }

    #fondo{
        width: 100%;
        object-fit: contain;
    }

    #anterior{
        position: absolute;
        height: 5%;
        width: 5%;
        left: 10px;
        z-index: 3;
        filter: invert();
        cursor:pointer;
    }

    #siguiente{
        position: absolute;
        height: 5%;
        width: 5%;
        right: 10px;
        z-index: 3;
        filter: invert();
        cursor:pointer;
    }    

    #cartel{
        justify-content: center;
    }
}