*{
    margin: 0;
    padding: 0;
}

/*html, body{
    width: 100%;
    height: 100%;
}*/

#products{
    display: flex;
    flex-direction: column;
    gap: 1vh;
    /* padding: 0.2vh; */
    padding-bottom: 2vh;
}

.navbar{
    color: white;
}

.anchor-container{
    display: flex;
    justify-content: flex-end;
    /* gap: 5%; */
    width: 12%;

}

.anchor-cart{
    display: flex;
    height: 100%;
    width: 50%;
    filter: invert();
    /* background-color: black; */
}

.img-cart{
    width: 50%;
    height: 100%;
}

#productQuantity{
    width: 50%;
}

/*#logout{
    width: 50%;
}*/
/*
#logout .btn{
    width: 100%;
}*/

.lista{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 95%;
    gap: 1vh;
    margin: auto auto;
}

.card{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: calc(100%/5);
    height: 51vh;
}

.card a{
    height: 88%;
}

.card-body{
    height: 100%;
}

.card-img-top{
    height: 65%;
    border-bottom: solid black;
}

.card-body .description{
    height: 35%;
}

.card .btn{
    height: 12%;
}

.pagination{
    display: flex;
    justify-content: center;
}

@media (max-width: 600px){
    #products{
        margin: 0 0;
        width: 100%;
        /* height: 45%; */
    }

    .card{
        height: 59vh;
        width: 90%;
    }

    .anchor-container{
        justify-content: flex-end;
        /* gap: 7%; */
        width: 42%;
    }

    .anchor-cart{
        width: 50%;
    }

    .img-cart{
        width: 50%;
    }

    /*.anchor-container #logout{
        width: 45%;
        
    }

    .anchor-container .btn{
        width: 100%;
    }*/
}