*{
    margin: 0;
    padding: 0;
}

html, body{
    height: 100%;
    width: 100%;
}

#product{
    display: flex;
    flex-direction: column;
    background-color: aliceblue;
    height: 100%;

}

.navbar{
    color: white;
}

.navbar h2{
    display: flex;
    align-items: center;
    gap: 1%;
}

.anchor-container-user{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 12%;
    gap: 1%;
}

.anchor-container{
    display: flex;
    justify-content: center;
    align-items: center;
    /*width: 12%;*/
    gap: 1%;
}

.anchor-cart{
    display: flex;
    height: 100%;
    width: 50%;
    filter: invert();
}

.img-cart{
    width: 50%;
    height: 100%;
}

#productQuantity{
    width: 50%;
}

.description{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 75%;
    margin: 1% auto;
    padding: 1% 0;
    gap: 1%;
    border: 1px solid lightgray;
    border-radius: 2%;
    background-color: white;
}

.description #img-container{
    height: 100%;
    width: 50%;
    overflow: hidden;
}

#img-container img{
    height: 100%;
    width: 100%;
    object-fit: contain;
    transition: all 1s;
}

#img-container img:hover{
    transform: scale(1.5);
}

.description aside{
    display: flex;
    height: 100%;
    width: 40%;
    flex-direction: column;
    justify-content: space-between;
    padding: 0.5%;
    border: 1px solid lightgray;
    border-radius: 2%;
}

aside .info-container{
    display: contents;
    list-style: none;
}

.info-container li{
    padding: 5%;
    border-bottom: 1px solid lightgray;
}

aside .btn-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1%;
    height: 18%;
}

.description aside #title{
    font-size: x-large;
    font-weight: 600;
}

.description aside #price{
    font-size: 30px;
    
}