*{
    margin: 0;
    padding: 0;
}

html, body{
    display: flex;
    height: 100%;
    width: 100%;
}

.form-container{
    position: relative;
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1vh;
    margin: auto auto;
    /* margin-left: 5vh; */
    /* margin-top: 5vh; */
    
    width: max-content;
    padding: 1%;
    background-color: rgba(251, 251, 253, 0.871);
    border: rgba(251, 251, 253, 0.871) solid;
    border-radius: 1%;
    /* filter:saturate(); */
    z-index: 1;
}

.form-group{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1vh;
}